.rugby {
	position:absolute;
}

.field {
	width: 100%;
}

.rugby1 {
	width: 200px;
	right: 100px;
	top: 150px;
	z-index: 4;

}

.rugby2 {
	width: 500px;
	left: 300px;
	top: 115px;
	z-index: 5;
}

.rugby3 {
	width:150px;
	left: 800px;
	top:200px;
	z-index: 3;
}

.rugby4 {
	width: 300px;
	left: 10px;
	top: 200px;
	z-index: 1;
}